<p id="notice"><%= notice %></p>

<p>
  <strong><%= Card.human_attribute_name :name %>:</strong>
  <%= @card.name %>
</p>

<p>
  <strong><%= Card.human_attribute_name :rate %>:</strong>
  <%= @card.rate %>
</p>

<p>
  <strong><%= Card.human_attribute_name :group %>:</strong>
  <%= @card.group %>
</p>

<p>
  <strong><%= Card.human_attribute_name :attack %>:</strong>
  <%= @card.attack %>
</p>

<p>
  <strong><%= Card.human_attribute_name :intellect %>:</strong>
  <%= @card.intellect %>
</p>

<p>
  <strong><%= Card.human_attribute_name :suppression %>:</strong>
  <%= @card.suppression %>
</p>

<p>
  <strong><%= Card.human_attribute_name :comment %>:</strong>
  <%= @card.comment %>
</p>

<p>
  <strong><%= Card.human_attribute_name :image %>:</strong>
  <% if @card.image? %>
    <div class="thumbnail">
      <%= image_tag @card.image.url %>
    </div>
  <% end %>
</p>

<p>
  <strong><%= Card.human_attribute_name :cost %>:</strong>
  <%= @card.cost %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
